<extend name="Common:edit"/>
<block name="form">
    <form method="post" action="{:U()}" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
                        <tr>
                <td class="label">分类名称</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="NAME" maxlength="60"
                                 value="{$NAME}">                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">父类id</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="parent_id" maxlength="60"
                                 value="{$parent_id}">                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">左分隔点</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="lft" maxlength="60"
                                 value="{$lft}">                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">右分割点</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="rgt" maxlength="60"
                                 value="{$rgt}">                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">分类排序</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="text" name="sort" maxlength="60"
                                 value="{$sort|default=20}">                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">分类描述</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <textarea name="intro" cols="60" rows="4">{$intro}</textarea>
                    
                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td class="label">状态</td>
                <td>
                    <!--目的:根据每个字段的注释中指定的表单元素的类型,生成不同的表单元素
                    1.获取每个注解中的表单元素类型
                    -->
                    <input type="radio" value="1" name="STATUS"/> 是<input type="radio" value="0" name="STATUS"/> 否                    <span class="require-field">*</span>
                </td>
            </tr>
                        <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button ajax-post" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>